/* Added code to display tables without horizontal scrollbars */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal !important;
}

/* Adding font size */
.wy-table-responsive td p{
    font-size: inherit !important;
}

table.docutils div.line-block {
    margin-bottom: 0;
}
