/* Added code to display tables without horizontal scrollbars */
table.docutils td, table.docutils th {
    white-space: normal !important;
}

/* Adding font size */
.wy-table-responsive td p{
    font-size: inherit !important;
}

.wy-table-responsive table div.line-block {
    margin-bottom: 0pt;
}
