/* Added code to display tables without horizontal scrollbars */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: pre-wrap !important;
}

/* Adding font size */
.wy-table-responsive td p{
    font-size: inherit !important;
}

/* Testing on Div element */
.wy-table-responsive td div {
    line-height: 10pt;
}

.wy-table-responsive table div.line-block {
    margin-bottom: 0;
}
